@import "~bootstrap/scss/bootstrap";

header{
    
    min-height: 100px;
    
}
img{
    height: 100px;
}
.contenitore{
    width: 100wh;
    text-align: center;
}
.jumbotron{
    height: 100vh;
    width: 100%;
    
    text-align: center;
    object-fit: cover;
}
.fumetti{
    background-color: black;
}


// .row {
//     > * {
//         height: 100vh;

//         display: flex;
//         justify-content: center;
//         align-items: center;

//         color: lightcoral;
//         background-color: aquamarine;
//         background-image: url();
//         background-size: 50px 50px;
//     }
// }

// img {
//     max-height: 150px;
// }
