@import "~bootstrap/scss/bootstrap";
body{
    max-width: 1200px;
}
header{
    
    min-height: 100px;
    background-image: url('../img/jumbotron.png');
}
img{
    height: 20px;
}

// .row {
//     > * {
//         height: 100vh;

//         display: flex;
//         justify-content: center;
//         align-items: center;

//         color: lightcoral;
//         background-color: aquamarine;
//         background-image: url();
//         background-size: 50px 50px;
//     }
// }

// img {
//     max-height: 150px;
// }
